html {scroll-behavior: smooth;}
body {
  background: #c3d0e3;
  margin: 0 0;
}
img {
  max-width: 100%;
  display: block;
}
div.card, div.pic {
  max-width: 1000px;
  margin: auto;
}
img.marchio {
  max-width: 10rem;
  position: absolute;
  top: 2px;
  left: 5px;
}
section.heroimage {
  opacity: 90%;
}
img.heroimage {
  width: 100%;
  height: 377px;
  object-fit: cover;
}
/*------------------------------------------------------------ T E S T A T A  /  N A V --------------------------------------------------*/
nav.header { 
  background-color: #7e9ac4;
  font-family: 'Roboto Slab', serif;
  font-size: 13.9288px;
  font-weight: 300;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  height: 4em;
}
li.header {
  padding: 1em 2em;
  display: inline-block;
  margin: 0;
}
a.header {
  font-weight: 400;
  cursor: pointer;
  color: #e3d2c3;
  text-decoration: none;
}
a.header:hover {
 border-bottom: 0.2em solid #e3d2c3;
}
/*------------------------------------------------------------------- T I T O L O -------------------------------------------------------*/
section.headline {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 89px 89px;
}
div.headline {
  max-width: 300px;
}
h1.headline {
  font-family: 'Lora', serif;
  font-size: 32px;
  line-height: 120%;
  font-style: normal;
  max-width: 377px;
  margin: 0 0 13px 0;
}
h3.headline {
  font-family: 'Roboto Slab', serif;
  font-size: 24.2515px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.029em;
  font-style: normal;
  max-width: 233px;
  margin: 0 0 8px 0;
}
h6.headline {
  color: #7e9ac4;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.029em;
  text-decoration-line: underline;
  font-style: normal;
  margin: 0;
}
a.iscrizione {
  color: #7e9ac4;
  text-overflow: 500;
}
/* I L L U    1 */
.illu_tazza {
  margin: 21px;
  max-width: 500px;
  position: relative;
  animation: 4s anim-saltello ease-out infinite;
  gap: 21px;
}
/*-------------------------------------------------------------------- M A I N ----------------------------------------------------------*/
.card {
  display: flex;
  margin: 0;
}
.card .pic {
  max-width: 30rem;
}
h6.main {
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  margin: 0;
}
h4.main {
  width: 20em;
  font-family: 'Lora', serif;
  font-size: 21.1121px;
  margin: 0;
}
p.main {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  max-width: 700px;
  margin: 0;
}
/*---------------------------------------------------------------- B U T T O N S --------------------------------------------------------*/
button {
  margin: 21px 0 0 0;
  color: #0c0d0d;
  background-color: #e3d2c3;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 600;
  text-align: center;
  border: 0.9px solid #e3d2c3;
  border-radius: 25px;
  padding: 0 25px 0 25px;
  transition: background-color 0.5s;
}
button:hover{
  background-color: #7e9ac4;
  border: 0.9px solid #7e9ac4;
  cursor: pointer;
  color: #e3d2c3;
}
div.buttoncentrale {
  display: flex;
  justify-content: center;
  margin: 233px 0 144px 0;
}
button.centrale {
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  text-align: center;
  height: 45px;
  border: 0.9px solid #e3d2c3;
  border-radius: 25px;
  padding: 0 65px 0 65px;
}
button.centrale:hover {
  cursor: pointer;
  color: #e3d2c3;
  background-color: #7e9ac4;
  border: 0.9px solid #7e9ac4;
}
/*----------------------------------------------------------------- F O O T E R ---------------------------------------------------------*/
.footerheadline {
  max-width: 100rem;
  padding: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  width: 25em;
}
.sottotitolo {
  font-family: 'Roboto Slab', serif;
  font-size: 24.2515px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.029em;
  font-style: normal; 
}
.titolo {
  font-family: 'Lora', serif;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.029em;
  font-style: normal;
}
.illu2 {
  max-width: 30rem;
}
/*--------------------------------------------------------------- F O O T E R  BIG ------------------------------------------------------*/
nav.fbig {
  background-color: #7e9ac4;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li.fbig {
  font-family: 'Roboto Slab', serif;
  font-size: 18.3792px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  padding: 0 10px 0 0;
}
a.fbig {
  color: #fff;
  text-decoration: none;
}
/*--------------------------------------------------------------- F O O T E R  END ------------------------------------------------------*/
nav.footer {
  background-color: #000;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 500;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li.footer {
  padding: 10px 10px;
  display: inline-block;
}
a.footer {
  color: #7e9ac4;
  text-decoration: none;
}
a.footer:hover {
  text-decoration: underline;
}
/*---------------------------------------------------------------- HR -------------------------------------------------------------------*/
hr.solid {
  max-width: 20rem;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 89px;
  border: 2px solid black;
}
hr.main {
    text-align: center;
    border: none;
    margin: 55px 0 55px 0;
  }
hr.main:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    margin: 0 0.4em;
  }
hr.main:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    margin: 0 0.4em;
  }
/* I L L U  1 */
div.illu_tazza {
  margin: 21px;
  max-width: 500px;
  position: relative;
  animation: 4s anim-saltello ease-out infinite;
  gap: 21px;
}
/*------------------------------------------------------------ C O F F E E --------------------------------------------------------------*/
.saltello a {
  color: black;
  margin: 0 34px 21px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 13.9288px;
  font-weight: 800;
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  animation: 2s anim-saltello ease-out infinite;
  }
@keyframes anim-saltello {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*--------------------------------------------------- F R E C C I N A  -  TOP -----------------------------------------------------------*/
a.freccina {
  color: black;
  background: #c3d0e3;
  font-display: center;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  bottom: 4px;
  right: 17px;
  z-index: 99px;
  }
a.freccina:hover {
  color: white;
  background-color: #7e9ac4;
 }
/*------------------------------------------------------ M E D I A ----------------------------------------------------------------------*/
@media (max-width: 35em) {
.marchio {
  padding: 0.3em 0 0 0.1em;
}
img.marchio {
  max-width: 10rem;
  position: absolute;
}
body {
  max-width: 100%;
}
div.card, div.pic {
  max-width: 100%;
  margin: 0;
}
/*_______________________________________________________________________________________________________________________________________*/
nav.header { 
  background-color: #7e9ac4;
  font-family: 'Roboto Slab', serif;
  font-size: 13.9288px;
  font-weight: 300;
  display: fled;
  align-items: center;
  justify-content: end;
  list-style: none;
  height: 2em;
  margin: 0;
  padding: 0.5em;
}
li.header {
  padding: 0 21px 8px 21px;
  display: inline-block;
  margin: 0;
}
a.header {
  font-weight: 500;
  cursor: pointer;
  color: #e3d2c3;
  text-decoration: none;
}
/*_______________________________________________________________________________________________________________________________________*/
img.heroimage {
  max-height: 11rem;
  max-width: 30rem;
  object-fit: cover;
}
/*_______________________________________________________________________________________________________________________________________*/
section.headline {
  margin: 0;
  display: grid;
  place-items: center;
  padding: 1em;
}
div.headline {
  max-width: 20rem;
}
h1.headline {
  font-family: 'Lora', serif;
  font-size: 32px;
  line-height: 120%;
  font-style: normal;
  max-width: 7.5em;
  margin: 0 0 13px 0;
}
h3.headline {
  font-family: 'Roboto Slab', serif;
  font-size: 24.2515px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.029em;
  font-style: normal;
  max-width: 15rem;
  margin: 0 0 8px 0;
}
h6.headline {
  color: #7e9ac4;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.029em;
  font-style: normal;
  margin: 0;
}
a.iscrizione {
  color: #7e9ac4;
  text-overflow: 500;
}
.illu_tazza {
  width: 300px;
  position: relative;
  animation: 4s anim-saltello ease-out infinite;
}
/*_______________________________________________________________________________________________________________________________________*/
hr.solid {
  max-width: 10rem;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 89px;
  border: 1,5px solid black;
}
hr.main {
  text-align: center;
  border: none;
  margin: 3em 0 0 0;
}
/*_______________________________________________________________________________________________________________________________________*/
.card {
  padding: 3em 3em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .pic {
  max-width: 25rem;
  margin: 3em 0 0 0;
}
.card .text {
  border: 1px solid red;
  width: 25em;
}
h6.main {
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  margin: 0 0 1em 0;
}
h4.main {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0 0 0.5em;
}
p.main {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  max-width: 300px;
  margin: 0;
}
div.buttoncentrale {
  display: flex;
  justify-content: center;
  margin: 5em 2em;
}
/*_______________________________________________________________________________________________________________________________________*/
.footerheadline {
  max-width: 30rem;
  margin: 0;
  display: grid;
  place-items: center;
}
.text {
  width: 15em;
  margin: 0;
}
.sottotitolo {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.029em;
  font-style: normal; 
  margin: 0 0 3em 0;
  max-width: 11rem;
}
.titolo {
  font-family: 'Lora', serif;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.029em;
  font-style: normal;
  margin: 0 0 3em 0;
}
.illu2 {
  max-width: 25rem;
}
/*_______________________________________________________________________________________________________________________________________*/
nav.fbig {
  background-color: #7e9ac4;
  height: 7rem;
  display: grid;
  place-items: center;
  list-style: none;
}
li.fbig {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
a.fbig {
  color: #e3d2c3;
  text-decoration: none;
}
a.fbig:hover {
  text-decoration: underline;
}
/*_______________________________________________________________________________________________________________________________________*/
nav.footer {
  font-family: 'Palanquin', sans-serif;
  font-size: 10px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  list-style: none;
}
a.footer {
  color: #7e9ac4;
  text-decoration: none;
  font-weight: 800;
}
a.footer:hover {
  text-decoration: underline;
}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/
@media (min-width: 35em) {
.marchio {
  padding: 0.6em 0 0 0.5em; 
}
img.marchio {
  max-width: 10rem;
  position: absolute;
  top: 2px;
  left: 5px;
}
}
/*_________________________________________________________________ 3 ___________________________________________________________________*/
@media (min-width: 50em) {
.marchio {
  padding: 0.6em 0 0 0.5em;
}
img.marchio {
  max-width: 10rem;
  position: absolute;
  top: 2px;
  left: 5px;
}
}
/*_________________________________________________________________ 4 ___________________________________________________________________*/
@media (min-width: 70em) {
.marchio {
  padding: 0.2em 0 0 0.2em;
}
img.marchio {
  max-width: 10rem;
  position: absolute;
  top: 2px;
  left: 5px;
}
}