html {scroll-behavior: smooth;}
body {
  background: #c3d0e3;
  margin: 0 0;
}
img {
  max-width: 100%;
  display: block;
}
div.card, div.pic {
  max-width: 1000px;
  margin: auto;
}
img.marchio {
  max-width: 10%;
  position: absolute;
  top: 2px;
  left: 5px;
}
section.heroimage {
  opacity: 90%;
}
img.heroimage {
  width: 100%;
  height: 377px;
  object-fit: cover;
}
/*------------------------------------------------------------ T E S T A T A  /  N A V --------------------------------------------------*/
nav.header { 
  background-color: #7e9ac4;
  font-family: 'Roboto Slab', serif;
  font-size: 13.9288px;
  font-weight: 300;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  height: 34px;
}
li.header {
  padding: 0 21px 8px 21px;
  display: inline-block;
  margin: 0;
}
a.header {
  cursor: pointer;
  color: #e3d2c3;
  text-decoration: none;
}
a.header:hover {
 text-decoration: underline;
}
img.pittogramma {
  max-width: 15px;
}
/*------------------------------------------------------------------- T I T O L O -------------------------------------------------------*/
section.headline {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 89px 89px;
}
div.headline {
  max-width: 300px;
}
h1.headline {
  font-family: 'Lora', serif;
  font-size: 32px;
  line-height: 120%;
  font-style: normal;
  max-width: 377px;
  margin: 0 0 13px 0;
 }
h3.headline {
  font-family: 'Roboto Slab', serif;
  font-size: 24.2515px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.029em;
  font-style: normal;
  max-width: 233px;
  margin: 0 0 8px 0;
}
h6.headline {
  color: #7e9ac4;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.029em;
  text-decoration-line: underline;
  font-style: normal;
  margin: 0;
}
a.iscrizione {
  color: #7e9ac4;
  text-overflow: 500;
}

/* I L L U    1 */
div.illu_tazza {
  margin: 21px;
  max-width: 500px;
  position: relative;
  animation: 4s anim-saltello ease-out infinite;
  gap: 21px;
}
/*-------------------------------------------------------------------- M A I N ----------------------------------------------------------*/
.card {
  width: 55%;
  display: flex;
}
.card .pic {
  width: 50%;
  margin-right: 0;
}
.card .text {
  width: 70%;
}
h6.main {
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  margin: 0;
}
h4.main {
  font-family: 'Lora', serif;
  font-size: 21.1121px;
  margin: 0;
}
p.main {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  max-width: 700px;
  margin: 0;
}
/*---------------------------------------------------------------- B U T T O N S --------------------------------------------------------*/
button {
  margin: 21px 0 0 0;
  color: #0c0d0d;
  background-color: #e3d2c3;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 600;
  text-align: center;
  border: 0.9px solid #e3d2c3;
  border-radius: 25px;
  padding: 0 25px 0 25px;
  transition: background-color 0.5s;
}
button:hover{
  background-color: #7e9ac4;
  border: 0.9px solid #7e9ac4;
  cursor: pointer;
  color: #e3d2c3;
}
div.buttoncentrale {
  display: flex;
  justify-content: center;
  margin: 233px 0 144px 0;
}
button.centrale {
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  text-align: center;
  height: 45px;
  border: 0.9px solid #e3d2c3;
  border-radius: 25px;
  padding: 0 65px 0 65px;
}
button.centrale:hover {
  cursor: pointer;
  color: #e3d2c3;
  background-color: #7e9ac4;
  border: 0.9px solid #7e9ac4;
}
/*----------------------------------------------------------------- F O O T E R ---------------------------------------------------------*/
section.fheadline {
display: flex;
}
div.illu2 {
  width: 500px;
  margin: auto;
}
.fheadline h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 24.2515px;
  font-weight: 500;
  line-height: 140%;
  font-style: normal; 
}
.fheadline h1 {
  font-family: 'Lora', serif;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.029em;
  font-style: normal;
}
/*--------------------------------------------------------------- F O O T E R  BIG ------------------------------------------------------*/
nav.fbig {
  background-color: #7e9ac4;
  height: 89px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li.fbig {
  font-family: 'Roboto Slab', serif;
  font-size: 18.3792px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  padding: 0 10px 0 0;
}
a.fbig {
  color: #e3d2c3;
  text-decoration: none;
}
a.fbig:hover {
  text-decoration: underline;
}
/*--------------------------------------------------------------- F O O T E R  END ------------------------------------------------------*/
nav.footer {
  background-color: #c3d0e3;
  font-family: 'Palanquin', sans-serif;
  font-size: 13.9288px;
  font-weight: 300;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li.footer {
  padding: 10px 10px;
  display: inline-block;
}
a.footer {
  color: #7e9ac4;
  text-decoration: none;
}
a.footer:hover {
  text-decoration: underline;
}
/*---------------------------------------------------------------- HR -------------------------------------------------------------------*/
hr.solid {
  max-width: 900px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 55px;
  border: 2px solid black;
}
hr.main {
    text-align: center;
    border: none;
    margin: 55px 0 55px 0;
  }
    hr.main:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    margin: 0 0.4em;
  }
    hr.main:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    margin: 0 0.4em;
  }
/* I L L U  1 */
div.illu_tazza {
  margin: 21px;
  max-width: 500px;
  position: relative;
  animation: 4s anim-saltello ease-out infinite;
  gap: 21px;
}
/*------------------------------------------------------------ C O F F E E --------------------------------------------------------------*/
.saltello a {
  color: black;
  margin: 0 34px 21px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 13.9288px;
  font-weight: 800;
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  animation: 2s anim-saltello ease-out infinite;
  }
@keyframes anim-saltello {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*------------------------------------------------------------- F R E C C I N A  -  TOP -------------------------------------------------*/
a.freccina {
  color: black;
  background: #c3d0e3;
  font-display: center;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  bottom: 4px;
  right: 17px;
  z-index: 99px;
  }
a.freccina:hover {
  color: white;
  background-color: #7e9ac4;
 }
@media (max-width: 800px) { /* se la finestra ha una larghezza minore di 800px la dichiarazione farà lo sfondo giallo */
}
@media (max-width: 800px) { /* se la finestra ha una larghezza minore di 800px la dichiarazione farà lo sfondo giallo */
  nav.footer {
  font-size: 12.6992px;
 }
}
@media (max-width: 300px) {
  nav.footer {
    font-size: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}